body {
  background-color: #f0f2f5;
  text-align: center;
  font-family: Helvetica;
}
a:link, a:visited {
  color: white;
  text-decoration: none;
}
#nav-sec {
  z-index: 100;
  background-color: #4267b2!important;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  box-shadow: 0px 3px 12px #000000;
}
#nav-title {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}
.nav-item {
  text-align: left;
}
.nav-link {
  color:white!important;
}
.nav-link:hover {
  color:#BEBEBE!important;
  transition-timing-function: ease-in;
  transition: 0.2s;
}
.navbar-toggler {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #f7f9ff;
  border: 2px solid white!important;
}

/* Page content */
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {  
  padding-top: 65px;
}