/* General */
body {
  background-color: #f7f7f7;
  text-align: center;
  font-family: Helvetica;
}
a:link, a:visited {
  color: white;
  text-align: center;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
}
.center-h {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.center-v {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.center-me {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#titlebar {
  display: flex;
  justify-content: left;
  height: 6vh;
  align-items: center;
  background-color: #4267b2;
}
#titlebar-text {
  margin: 0;
  margin-left: 2vh;
  color: white;
  font-weight: bold;
}

#content {
  height: 90vh;
}

.main-sec {
  display: flex;
  justify-content: center;
}

/* Panel */
.panel-box {
  margin-top: 15vh;
  width: 550px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 3px 9px #545454;
}

/* Heading */
.heading-title {
  display: flex;
  justify-content: left;
  padding-top: 2vh;
  margin-left: 5%;
}
#heading-tagline {
  display: flex;
  justify-content: left;
  margin-left: 5%;
}
.title {
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
}
#tagline {
  margin-top: 0.5vh;
  margin-bottom: 0;
  font-size: 1em;
  color: #BEBEBE;
}

/* Horizontal Line */
.horizontal-line {
  display: inline-block;
  width: 90%;
  margin: 1% 0;
  border-top: 1px solid #BEBEBE;
}

/* Form Section */
#info-sec {
  display: flex;
  justify-content: center;
  text-align: left;
}
#info {
  width: 85%;
}

.input {
  width: 80%;
  padding: 8px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  outline: transparent;
}
.input[input-error] {
  border-color: #d92e2e;
  color: #d92e2e;
  background-color: #fff5f5;
}
.input:focus {
  border: 2px solid #4267b2;
}
.input-3 {
  margin-top: 2%;
}

#btn-sec {
  display: flex;
  justify-content: right;
  padding-bottom: 2vh;
  margin-right: 5%;
}
.recover-btn {
  padding: 0 12px;
  box-sizing: border-box;
  border: 2px solid #4267b2;
  border-radius: 5px;
  background-color: #4267b2;
  color: white;
  font-size: 1em;
  font-weight: bold;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.recover-btn:hover {
  border: 2px solid #365aa1;
  background-color: #365aa1;
}
#login-link {
  margin-left: 1vh;  
  padding: 3px 12px;
  box-sizing: border-box;
  border: 2px solid #BEBEBE;
  border-radius: 5px;
  background-color: #BEBEBE;
  font-size: 1em;
  font-weight: bold;
  color: #4c4c4c;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#login-link:hover {
  border: 2px solid #ada6a6;
  background-color: #ada6a6;
}

/* Form 2 */
.question-sec {
  display: flex;
  justify-content: center;
  text-align: left;
}
.question-text {
  width: 80%;
  margin: 0;
  margin-top: 1%;
  font-size: 1em;
  font-weight: bold;
}

/* Flashbar */
#flashbar {
  height: 4vh;
  background-color: #dfe3ee;
}